/* Reset some default styles for better cross-browser compatibility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh; /* check TODO */
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 24px;
  color: #333;
  line-height: 1.8;
}

body {
  background-image: url("../acanthis/data/bg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  -webkit-background-size: cover;  /* For Safari */
  -moz-background-size: cover; /* For old versions of Firefox */
  -o-background-size: cover; /* For old versions of Opera */
  background-size: cover;
  background-attachment: scroll; 
  /* background-attachment: scroll; */ /* Changed from 'fixed' to 'scroll' for better support on mobile */
  /* -webkit-background-size: cover; */ /* For Safari */
  /* -moz-background-size: cover; */ /* For old versions of Firefox */
  /* -o-background-size: cover; */ /* For old versions of Opera */
  display: flex; /* For sticky footer purposes only */
  flex-direction: column; /* For sticky footer purposes only */
}

#main-content {
  flex: 1;
  padding: 1rem;
}

.language_choice {
  padding: 0 1rem;
}


/* Initially hide the tree and tree text and collapse button */
#tree, #tree-text, #bottom-toggle-button {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.column form {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: column;
}

.tree-container, .text-container {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header, footer { /* remove ? */
  background: rgba(0, 0, 0, 0.5); /* Reduced opacity from 0.8 to 0.5 */
  padding: 0.5rem 0;
  text-align: center;
  color: #f8f8f8;
  z-index: 101;
}

div#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

.sequence-container {
  display: flex;
  justify-content: center;
}

/* Accessibility improvements */
a, .tree-container button, form input {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #007BFF;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

a:focus, a:hover, .tree-container button:hover, form input:hover {
  background-color: #0056b3; /* Darker hue for better visibility on hover */
}

/* Hover Effects */
.hide>img {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.hide rect {
  transform: scale(1.2);
}

.hide {
  fill: #d2cfcf;
}

.bird:hover {
  opacity: 0.60;
}

.bird-off:hover {
  opacity: 0.60;
}

.hide {
  display: none;
  z-index: 2;
}

.bird:hover + .hide {
  display: block;
  color: blue;
}

.bird-off:hover + .hide {
  display: none;
  z-index: 2;
}

.div-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.div-divider span {
  font-size: 1.5em;
  color: #333;
  margin: 0 5px;
}

.bird-page-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
}

.tree {
  min-width: 100vh;
  max-height: 100vh; /* TODO change to dynamic media queries for viewport height */
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9; 
  border-radius: 8px;
  margin: 2rem;
  flex: 1;
}

.selection {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 100vh;
  min-width: 40vh;
  margin: auto;
}


.card {
  width: 100%;
  transition: transform 0.3s;
  overflow: hidden;
  margin-bottom: 2rem;

  .bird-info:hover::after { /* remove ? */
    content: "";
  }
}

.card a {
  width: 100%;
}

.card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card .bird-info {
  background: #fff;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}

.card h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.card em {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  color: #666;
}

.card p {
  margin-bottom: 5px;
  font-size: 1em;
}

.sequence {
  font-size: 20px;
}

.fixed-card {
  display: flex;
  overflow: auto;
} 

#sequence {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
}

td {
  width: 2rem;
  height: 1rem;
  text-align: center;
  vertical-align: middle;
}

.sequence-char {
  border: 1px solid black;
  padding: 0.1rem;
}

.line {
  position: relative;
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: black;
}

.no-border {
  border: none;
}

.no-box {
  border: none; /* Remove the border for the first and third rows */
  padding: 5px;
}

/* Responsive adjustments */
@media (min-width: 768px) { /* remove ? TODO */
  body {
    background-attachment: fixed;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  div#header {
    max-height: 100%;
  }
  .tree {
      min-width: 40vh;
      max-height: 70vh;
    }
  .column {
    border-radius: 5px;
    padding: 2rem;
  }
  .column .bird-cards {
    transform: scale(0.8);
    margin-top: -7rem;
  }
  .hide rect {
    transform: scaleX(1.3);
  }
  .hide text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  body {
    background-attachment: fixed;
  } 
  .tree {
    background-color: transparent;
    min-width: 40vh;
    max-height: 45vh;
  }
  .column {
    width: 100%; /* Full width for mobile layout */
  }
  .hide {
    transform: translate(10%, 10%);
  }
  .hide rect {
    transform: scale(1);
  }
  .hide text {
    font-size: 1rem;
  }
  .fixed-card {
    position: static; /* Remove fixed positioning on small screens */
    transform: none;
    top: auto;
    left: auto;
    right: auto;
  }
  .selection {
    margin: 3em;
    background-color: #f9f9f9;
  }
  #bird-cards {
    height: auto; /* Adjust the height for small screens */
  }
  .card {
    position: relative; /* Reset the position for small screens */
    width: 100%; /* Ensure the card takes full width */
    margin-bottom: 20px; /* Add some margin between cards */
  }
  .row {
    flex-direction: row; /* Stack the columns vertically on small screens */
  }
}