.sequence
{
    /* https://stackoverflow.com/questions/38781089/font-family-monospace-monospace */
    font-family: monospace, monospace;
    color: Black;
}
.nta{
    background-color: SpringGreen;
}
.ntc{
    background-color: SkyBlue;
}
.ntg{
    background-color: Wheat;
}
.ntt{
    background-color: LightSalmon;
}
.ntd{
    background-color: LightGray;
}
