body {
  background-image: url("../data/bg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: fixed;
}

figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* this is for hovering */
img {
  position: absolute;
}

.bird:hover {
  opacity:0.60;
}

.bird-off:hover {
  opacity:0.60;
}

.hide {
  display: none;
  z-index: 2;
}

.bird:hover + .hide {
  display: block;
  color: blue;
}

.bird-off:hover + .hide {
  display: none;
  z-index: 2;
}
