body {
  background-image: url("../data/bg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: fixed;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
